.button
	position relative
	padding 10px 45px
	font-family 'Lato'
	font-size 17px
	font-weight 700
	letter-spacing 1.2px
	cursor pointer
	color #a29bb5
	background #e5e4e4
	border 1px solid #c0c0c0
	border-radius 10px
	outline none
	text-transform uppercase
